<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Jogo</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Início</a> |
        <a href="/cadastro_plataformas">Cadastrar Plataformas</a> |
        <a href="/consulta_plataformas">Consultar Plataformas</a> |
        <a href="/cadastro_jogos">Cadastrar Jogos</a> |
        <a href="/consulta_jogos">Consultar Jogos</a>
    </nav>

    <div class="form-container">
        <h2>Cadastrar Jogo</h2>
        <form action="/cadastro_jogos" method="POST">
            <label for="titulo">Título do Jogo:</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="genero">Gênero do Jogo:</label>
            <input type="text" id="genero" name="genero" required>

            <label for="lancamento">Data de Lançamento:</label>
            <input type="date" id="lancamento" name="lancamento" required>

            <label for="plataforma">Plataforma:</label>
            <select id="plataforma" name="plataforma" required>
                {% for plataforma in plataformas %}
                <option value="{{ plataforma.cod_plataforma }}">{{ plataforma.nome }}</option>
                {% endfor %}
            </select>

            <button type="submit">Cadastrar Jogo</button>
        </form>
    </div>
</body>
</html>
    