<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento GameMaster</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Início</a> |
        <a href="/cadastro_plataformas">Cadastrar Plataformas</a> |
        <a href="/consulta_plataformas">Consultar Plataformas</a> |
        <a href="/cadastro_jogos">Cadastrar Jogos</a> |
        <a href="/consulta_jogos">Consultar Jogos</a>
    </nav>

    <h1>Bem-vindo ao Sistema de Gerenciamento GameMaster</h1>
    <p style="text-align: center; font-size: 18px;">
        Este sistema permite gerenciar os jogos e plataformas da loja de videogames <strong>GameMaster</strong>.
        Utilize as opções acima para cadastrar ou consultar plataformas e jogos.
    </p>
</body>
</html>
